body {
  display: flex;
  justify-content: center;
  align-items: center; }

h2,
h3 {
  font-family: Helvetica-Bold;
  font-size: 40px; }

h3 {
  font-size: 24px; }

p {
  font-family: Georgia; }

footer {
  background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%); }
  footer h2 {
    margin-top: 81px;
    margin-bottom: 61px; }

.container {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .container_main, .container_footer {
    display: flex;
    flex-direction: column;
    margin-top: 106px;
    width: 944px; }
  .container_footer {
    margin-top: 0; }

.header {
  display: flex;
  background-color: #082841; }
  .header_main-info {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 65px;
    padding-left: 96px;
    box-sizing: border-box;
    width: 888px; }
    .header_main-info label {
      font-family: Helvetica-Bold;
      font-size: 24px; }
    .header_main-info h2 {
      margin-top: 11px; }
    .header_main-info p {
      font-size: 20px;
      line-height: 28px;
      margin-top: 234px;
      width: 544px;
      box-sizing: border-box; }

.block-expectation {
  margin-bottom: 129px; }
  .block-expectation h2 {
    margin-top: 0; }
  .block-expectation-bricks {
    height: 448px;
    margin-top: 36px;
    display: flex;
    flex-flow: row wrap; }
    .block-expectation-bricks p {
      font-size: 16px;
      line-height: 24px; }
    .block-expectation-bricks_big, .block-expectation-bricks_small {
      background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
      border-radius: 4px;
      padding-top: 25px;
      padding-left: 32px;
      height: 216px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .block-expectation-bricks_big h3, .block-expectation-bricks_small h3 {
        margin-top: 0; }
    .block-expectation-bricks_big {
      width: 545px; }
      .block-expectation-bricks_big:first-child {
        margin-right: 20px;
        margin-bottom: 20px; }
      .block-expectation-bricks_big:last-child {
        margin-left: 20px; }
    .block-expectation-bricks_small {
      width: 375px; }

.block-portfolio h2 {
  margin-top: 0;
  margin-bottom: 63px; }
.block-portfolio_odd, .block-portfolio_even {
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px; }
.block-portfolio_even {
  flex-flow: nowrap row-reverse; }
.block-portfolio_side {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 304px;
  height: 394px; }
  .block-portfolio_side h3 {
    margin-top: 10px;
    margin-bottom: 8px; }
  .block-portfolio_side a {
    font-family: Georgia;
    font-size: 16px;
    color: #DD3E18;
    line-height: 24px;
    text-decoration: none; }
  .block-portfolio_side p {
    opacity: 0.8;
    font-size: 16px;
    line-height: 24px; }

.footer-side {
  display: flex;
  justify-content: space-between; }
  .footer-side_left {
    width: 304px; }
    .footer-side_left p {
      font-size: 16px;
      line-height: 24px; }
  .footer-side_right {
    width: 544px; }
    .footer-side_right form {
      display: flex;
      flex-flow: wrap column; }
      .footer-side_right form input,
      .footer-side_right form button {
        height: 48px;
        margin-bottom: 24px;
        border-radius: 4px;
        background-color: #fff; }
      .footer-side_right form button {
        margin-bottom: 0;
        background: #DD3E18;
        font-family: Helvetica;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px;
        margin-bottom: 146px; }
      .footer-side_right form input,
      .footer-side_right form textarea {
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px; }

/*# sourceMappingURL=style.css.map */
