%html(lang="ru")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title VonderVuflya-Protfolio
    %link(rel="stylesheet" href="./css/style.css")/
  %body
    .container
      .header
        %img(src="./img/profile_photo.jpg" alt="" width="552" height="672")/
        .header_main-info
          %label Джуниор Фроент-енд разработчик
          %h2 Сергей Черкашин
          %p Скоро здесь будет написано про меня
      .container_main
        -# .block-expectation
        -#   %h2 Ожидания от ШРИ
        -#   .block-expectation-bricks
        -#     .block-expectation-bricks_big
        -#       %h3 Lorem
        -#       %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam libero, nemo iusto harum doloribus quam hic quidem, nostrum delectus voluptates ratione dolor reiciendis corporis! Accusamus temporibus quas eos repellat debitis!
        -#     .block-expectation-bricks_small
        -#       %h3 Lorem
        -#       %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        -#     .block-expectation-bricks_small
        -#       %h3 Lorem
        -#       %p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        -#     .block-expectation-bricks_big
        -#       %h3 Lorem
        -#       %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, dolor. Repellendus dignissimos ut quam at fugiat suscipit fuga explicabo illum voluptatibus animi exercitationem inventore placeat magni accusantium nisi, nostrum nulla?
        .block-portfolio
          %h2 Мои работы
          .block-portfolio_odd
            %img(src="./img/portfolio-react-main.png" alt="" width="544" height="384")/
            .block-portfolio_side
              %div
                %h3 React test
                %a(href="https://github.com/VonderVuflya/testReact") github.com
              %p Тестовое задание сделанное на реакте
          .block-portfolio_even
            %img(src="./img/portfolio-html-main.png" alt="" width="544" height="384")/
            .block-portfolio_side
              %div
                %h3 Html + Css
                %a(href="https://github.com/VonderVuflya/test-task") github.com
              %p Тестовое задание сделанное на html + css
          .block-portfolio_odd
            %img(src="./img/portfolio-payment.png" alt="" width="544" height="384")/
            .block-portfolio_side
              %div
                %h3 Peyment 
                %a(href="https://github.com/VonderVuflya/payment-form") github.com
              %p Простая платежная форма написная на html + css
      %footer
        .container
          .container_footer
            %h2 Контактная информация
            .footer-side
              .footer-side_under
                %a(href="https://github.com/VonderVuflya")
                  %img(src="./img/logoGithub.png" alt="" width="64" height="64")/
                  %p Github
                %a(href="https://www.facebook.com/VonderVuflya")
                  %img(src="./img/logoFacebook.png" alt="" width="64" height="64")/
                  %p Facebook
                %a(href="https://twitter.com/VonderVuflya")
                  %img(src="./img/logoTwitter.png" alt="" width="64" height="64")/
                  %p Twitter
                %a(href="https://t.me/vondervuflya")
                  %img(src="./img/logoTelegram.png" alt="" width="64" height="64")/
                  %p Telegram
              -# .footer-side_left
              -#   %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque a, debitis minima excepturi praesentium saepe, cupiditate iusto vel quisquam, necessitatibus similique maiores? Ea asperiores quaerat nesciunt sequi odit eius sint.
              -#   %p Способ связи
              -#   %ul
              -#     %li
              -#       %a(href="https://www.facebook.com/VonderVuflya") Facebook
              -#     %li
              -#       %a(href="https://github.com/VonderVuflya") Github
              -#     %li
              -#       %a(href="https://twitter.com/VonderVuflya") Twitter
              -# .footer-side_right
              -#   %form(action="mailto:97serdj97@gmail.com" method="post" enctype="multipart/form-data" autocomplete="on")
              -#     %input(type="text" placeholder="Ваше имя" name="name" required)/
              -#     %input(type="mail" placeholder="Почтовый ящик" name="mail" required)/
              -#     %textarea(type="text" cols="30" rows="10" placeholder="Расскажите о себе" required)
              -#     %input(type="text" height="192" width="544" alt="Текстовое поле" required)/
              -#     %label Прикрепить ТЗ
              -#     %input(type="file")/
              -#     %button(type="submit" value="Отправить")Отправить 