%html(lang="ru")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title VonderVuflya-Protfolio
    %link(rel="stylesheet" href="./css/style.css")/
  %body
    .container
      .header
        %img(src="./img" alt="" width="552" height="672")/
        .header_main-info
          %label Джуниор Фроент-енд разработчик
          %h2 Сергей Черкашин
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptate consectetur minus necessitatibus officia quisquam repellat atque. Unde alias fuga suscipit enim obcaecati iste cumque esse. Assumenda, iure vitae?
      .container_main
        .block-expectation
          %h2 Ожидания от ШРИ
          .block-expectation-bricks
            .block-expectation-bricks_big
              %h3 Lorem
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam libero, nemo iusto harum doloribus quam hic quidem, nostrum delectus voluptates ratione dolor reiciendis corporis! Accusamus temporibus quas eos repellat debitis!
            .block-expectation-bricks_small
              %h3 Lorem
              %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, dolor. Repellendus dignissimos ut quam at fugiat suscipit fuga explicabo illum voluptatibus animi exercitationem inventore placeat magni accusantium nisi, nostrum nulla?
            .block-expectation-bricks_small
              %h3 Lorem
              %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, dolor. Repellendus dignissimos ut quam at fugiat suscipit fuga explicabo illum voluptatibus animi exercitationem inventore placeat magni accusantium nisi, nostrum nulla?
            .block-expectation-bricks_big
              %h3 Lorem
              %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, dolor. Repellendus dignissimos ut quam at fugiat suscipit fuga explicabo illum voluptatibus animi exercitationem inventore placeat magni accusantium nisi, nostrum nulla?
        .block-portfolio
          .block-portfolio_1_odd
            %img(src="./img/" alt="" width="544" height="384")/
            %h3 Lorem
            %a(href="#")
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quam possimus veritatis velit doloribus illo eaque qui modi iste consequuntur ducimus similique corporis maxime nostrum ratione quaerat, inventore nam. Corrupti?
          .block-portfolio_2_even
            %img(src="./img/" alt="" width="544" height="384")/
            %h3 Lorem
            %a(href="#")
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quam possimus veritatis velit doloribus illo eaque qui modi iste consequuntur ducimus similique corporis maxime nostrum ratione quaerat, inventore nam. Corrupti?
          .block-portfolio_3_odd
            %img(src="./img/" alt="" width="544" height="384")/
            %h3 Lorem
            %a(href="#")
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quam possimus veritatis velit doloribus illo eaque qui modi iste consequuntur ducimus similique corporis maxime nostrum ratione quaerat, inventore nam. Corrupti?
          .block-portfolio_4_even
            %img(src="./img/" alt="" width="544" height="384")/
            %h3 Lorem
            %a(href="#")
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quam possimus veritatis velit doloribus illo eaque qui modi iste consequuntur ducimus similique corporis maxime nostrum ratione quaerat, inventore nam. Corrupti?
        .block-contact
          %h2 Контактная информация
          .block-contact_left-side
            %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque a, debitis minima excepturi praesentium saepe, cupiditate iusto vel quisquam, necessitatibus similique maiores? Ea asperiores quaerat nesciunt sequi odit eius sint.
            %ul
              %li
                %a(href="#")
              %li
                %a(href="#")
              %li
                %a(href="#")
              %li
                %a(href="#")
          .block-contact_right-side
            %form(action="mailto:97serdj97@gmail.com" method="post" enctype="multipart/form-data" autocomplete="on")
              %input(type="text" placeholder="Ваше имя" name="name" required)/
              %input(type="mail" placeholder="Почтовый ящик" name="mail" required)/
              %textarea(type="text" cols="30" rows="10" placeholder="Расскажите о себе" required)
              %label Прикрепить ТЗ
              %input(type="file")/
              %button(type="submit" value="Отправить")Отправить